/*form.form-class .section {border: thin solid black; padding: 0px 15px; margin: 20px 0px;}
form.form-class .subsection {border: thin solid black; background: #F5F5F5; margin: 10px 0px; padding: 10px;}
form.form-class .form_heading {font-weight: bold; font-size: 14pt; margin: 15px 0px 25px 0px;}
form.form-class .form_subheading {font-weight: bold; font-size: 11pt; margin: 10px 0px 15px 0px;}*/
